LINE_CHANNEL_SECRET=請貼上_LINE_Channel_secret
LINE_CHANNEL_ACCESS_TOKEN=請貼上_LINE_Channel_access_token
PUBLIC_BASE_URL=https://你的正式網址
LIFF_URL=https://liff.line.me/你的_LIFF_ID
PORT=3001

# 綠界 ECPay
ECPAY_MODE=test
ECPAY_MERCHANT_ID=請貼上綠界_MerchantID
ECPAY_HASH_KEY=請貼上綠界_HashKey
ECPAY_HASH_IV=請貼上綠界_HashIV
